* {
    margin: 0;
    padding: 0;
  }
  
  .login {
    background-image: linear-gradient(pink, lightblue);
    background-repeat: no-repeat;
    height: 41rem;
  }
  
  .login-form {
    margin: auto;
    padding: 1rem;
    width: 22rem;
    height: 25rem;
    background-color: var(--background-form);
    border: 0.1rem solid var(--primary-btn);
    border-radius: 0.5rem;
  }
  
  h2 {
    text-align: center;
    margin: 1rem 1rem 2rem 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    row-gap: 0.4rem;
  }
  
  .flex {
    display: flex;
    gap: 0.5rem;
    padding-left: 0.8rem;
  }
  
  .input-form {
    padding: 0.7rem;
    margin: 0.1rem 0rem;
    border: none;
    font-size: large;
  }
  
  .field-label {
    font-size: large;
  }
  .rem-label {
    font-size: medium;
    margin-top: -0.2rem;
    margin-bottom: 1rem;
  }
  .login-btn {
    width: 10rem;
    margin: auto;
    background-color: var(--primary-btn);
    color: white;
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  .pw-link {
    margin-top: 1rem;
    text-decoration: none;
    color: var(--primary-btn);
    font-size: large;
  }
  .flex-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  